*{
  margin:0;
  padding:0;
}
body{
  /*background:#000;*/
}

.main{
  margin:10px;
  border:2px solid #eee;
  border-radius:7px;
  line-height:30px;
}
.main-head{
  background: #00FFFF;
  border-radius:5px 5px 5px 5px;
}
.main-body{
  display: none;
}
