*{
  margin:0;
  padding:0;
}

#div{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:#eee;
}
#div>img{
  width:90%;
  height:90%;
  /* 显示样式可以自己改 */
}











body{
  /*background:#000;*/
}

.main{
  margin:10px;
  border:2px solid #eee;
  border-radius:7px;
  line-height:30px;
}
.main-head{
  background: #00FFFF;
  border-radius:5px 5px 5px 5px;
}
.main-body{
  display: none;
}
